API: RPC resources located under /restconf/data rather than /restconf/operation

Please correct me if I'm wrong, but the RESTCONF specification seems to require RPC sections of the yang model be accessible under `POST {+restconf}/operations/<operation>` (see [section-3.6](https://tools.ietf.org/html/rfc8040#section-3.6)). 

However in the car example (https://github.com/freeconf/examples/tree/master/car) RPC's are accessed under `restconf/data`. An example of this being starting the car, which is done using `curl -XPOST http://localhost:8080/restconf/data/car:start`.

Is there a reason FreeCONF does this? If so is there anywhere I can query what operations are supported and what arguments each argument take?

re: RPCs under operations
I was not aware of that requirement.  Thanks for pointing that out, we
should consider this a bug.

re: query what operations
you mean at runtime or documentation describing what the URLs are?



On Wed, Nov 7, 2018 at 12:31 PM Christopher McIntyre <
notifications@github.com> wrote:

> Please correct me if I'm wrong, but the RESTCONF specification seems to
> require RPC sections of the yang model be accessible under POST
> {+restconf}/operations/<operation> (see section-3.6
> <https://tools.ietf.org/html/rfc8040#section-3.6>).
>
> However in the car example (
> https://github.com/freeconf/examples/tree/master/car) RPC's are accessed
> under restconf/data. An example of this being starting the car, which is
> done using curl -XPOST http://localhost:8080/restconf/data/car:start.
>
> Is there a reason FreeCONF does this? If so is there anywhere I can query
> what operations are supported and what arguments each argument take?
>
> —
> You are receiving this because you are subscribed to this thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/freeconf/gconf/issues/17>, or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AAAgfu1SvrwyagFjLOYq4LDhVSdXF1rDks5usxkCgaJpZM4YS5QS>
> .
>


Question/Follow-up.  I'm curious on what your interpreting the spec would
be:

If I have

module x {
     action y {...}
     rpc z {}

then it would be:

  POST restconf/data/x:y

and

  POST restconf/operations/x:z

that seem right?  If so, then yes, there's a bug where rpc are lumped in
w/actions.

On Wed, Nov 7, 2018 at 1:16 PM Douglas Hubler <douglas@hubler.us> wrote:

> re: RPCs under operations
> I was not aware of that requirement.  Thanks for pointing that out, we
> should consider this a bug.
>
> re: query what operations
> you mean at runtime or documentation describing what the URLs are?
>
>
>
> On Wed, Nov 7, 2018 at 12:31 PM Christopher McIntyre <
> notifications@github.com> wrote:
>
>> Please correct me if I'm wrong, but the RESTCONF specification seems to
>> require RPC sections of the yang model be accessible under POST
>> {+restconf}/operations/<operation> (see section-3.6
>> <https://tools.ietf.org/html/rfc8040#section-3.6>).
>>
>> However in the car example (
>> https://github.com/freeconf/examples/tree/master/car) RPC's are accessed
>> under restconf/data. An example of this being starting the car, which is
>> done using curl -XPOST http://localhost:8080/restconf/data/car:start.
>>
>> Is there a reason FreeCONF does this? If so is there anywhere I can query
>> what operations are supported and what arguments each argument take?
>>
>> —
>> You are receiving this because you are subscribed to this thread.
>> Reply to this email directly, view it on GitHub
>> <https://github.com/freeconf/gconf/issues/17>, or mute the thread
>> <https://github.com/notifications/unsubscribe-auth/AAAgfu1SvrwyagFjLOYq4LDhVSdXF1rDks5usxkCgaJpZM4YS5QS>
>> .
>>
>


Thanks for the quick reply. That was my reading of the specification, yes.

However I have only been reading through the spec today. I can look further into this and post back on this issue. I'm interested in using gconf to learn more about RestCONF and YANG, so would be happy to work on a pull request if it does turn out to be a bug :)

According to [RFC 7950 Section 7-.15](https://tools.ietf.org/html/rfc7950#section-7.15):

> The difference between an action and an rpc is that an action is tied
> to a node in the datastore, whereas an rpc is not.  When an action is
> invoked, the node in the datastore is specified along with the name
> of the action and the input parameters.

So an action could be thought of as a method on an object, which explains why it is attached to a URI with the format `{+restconf}/data/<data-resource-identifier>/<action>`.


Looking at the ABNF grammar defined in [RFC 7950 Section 14](https://tools.ietf.org/html/rfc7950#section-14): `rpc` statements have to be in the "module" level, whereas an `action` has to be within a `list`, `container` or `grouping` node (they can also be used in `uses-augment` or `augment` it seems, though I think this may be for overriding the `action` statement?).

From my understanding, say you have server farm that models a list of running servers:

```
module server-farm {

  container servers {
    list servers {
      key name;
      leaf name {
        type string;
      }
      action reset {
        ...
      }
    }
  }

  rpc powerdown {
    ...
  }
}
```

The reset action is tied to a single server `POST http://localhost:8080/restconf/data/server-farm:servers/server=server0/reset`, whereas shutting down the server farm itself is an RPC operation that acts on the module level `POST http://localhost:8080/restconf/operation/server-farm:powerdown`.


I started looking at  implementation and here's a start

https://github.com/freeconf/gconf/commit/208c267e324887aa70b9bdafab43cec42791f952

With regard to implementation in gconf, what's left is:
1.) restrict new endpoint /operations/ to only top-level rpcs
2.) restrict /data/ no longer calling rpcs (which it can do today)
3.) implement [GET] /operations/ to deliver list of rpc names, but it's
unclear what format is.

disclaimer : You'll probably find a number of spec violations in gconf
because to-my-knowledge, it hasn't been used to interop with other
systems.  Some spec violations are known, many (like this one) are not.


On Thu, Nov 8, 2018 at 5:54 AM Christopher McIntyre <
notifications@github.com> wrote:

> According to RFC 7950 Section 7-.15
> <https://tools.ietf.org/html/rfc7950#section-7.15>:
>
> The difference between an action and an rpc is that an action is tied
> to a node in the datastore, whereas an rpc is not. When an action is
> invoked, the node in the datastore is specified along with the name
> of the action and the input parameters.
>
> So an action could be thought of as a method on an object, which explains
> why it is attached to a URI with the format
> {+restconf}/data/<data-resource-identifier>/<action>.
>
> For example, say you have server farm that models a list of running
> servers:
>
> module server-farm {
>   yang-version 1.1;
>
>   import ietf-yang-types {
>     prefix "yang";
>   }
>
>   container servers {
>     list servers {
>       key name;
>       leaf name {
>         type string;
>       }
>       action reset {
>         ...
>       }
>     }
>   }
>
>   rpc powerdown {
>       ...
>   }
> }
>
> The reset action is tied to a single server POST
> http://localhost:8080/restconf/data/server-farm:servers/server=server0/reset,
> whereas shutting down the server farm is an RPC operation that acts on the
> module level POST
> http://localhost:8080/restconf/operation/server-farm:powerdown.
>
> —
> You are receiving this because you commented.
>
>
> Reply to this email directly, view it on GitHub
> <https://github.com/freeconf/gconf/issues/17#issuecomment-436954618>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AAAgfvJ4nPUqA4rUrkTz_3vbf41zCKjXks5utA17gaJpZM4YS5QS>
> .
>


Point 3 only seems to be referenced as a "might" in the specification, so could be separated into a nice-to-have ticket.

re: Point 3 as optional
Oh, good, because it seems useless to me ;) .   Clients should parse the
full YANG and have all the info.


On Fri, Nov 9, 2018 at 10:03 AM Christopher McIntyre <
notifications@github.com> wrote:

> Point 3 only seems to be referenced as a "might" in the specification, so
> could be separated into a nice-to-have ticket.
>
> —
> You are receiving this because you commented.
>
>
> Reply to this email directly, view it on GitHub
> <https://github.com/freeconf/gconf/issues/17#issuecomment-437385990>, or mute
> the thread
> <https://github.com/notifications/unsubscribe-auth/AAAgfsp-0EySKmfdFISe5vKb9RXj7B_pks5utZkvgaJpZM4YS5QS>
> .
>


This seems to be related to what I've opened yesterday: https://github.com/freeconf/restconf/issues/4
The inputs of RPC calls should be formatted differently too: https://github.com/freeconf/restconf/issues/5


not going to sugar coat it, you'll probably find a large set of compliance
issues. I'm very motivated to get there, but I would need guidance and then
I suspect a concerted plan.

On Thu, Aug 18, 2022 at 1:45 PM Patrick Dumais ***@***.***>
wrote:

> This seems to be related to what I've opened yesterday:
> freeconf/restconf#4 <https://github.com/freeconf/restconf/issues/4>
> The inputs of RPC calls should be formatted differently too:
> freeconf/restconf#5 <https://github.com/freeconf/restconf/issues/5>
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/freeconf/yang/issues/17#issuecomment-1219764384>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAACA7QK2NMURKN5T6H52XDVZZZCFANCNFSM4GCLSQJA>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


Maybe this could be adapted to add more testcases for freeconf... two years ago I started helping a different restconf project. For this I assembled a list of Restconf testcases derived from the IETF RFCs in machine readable form.

https://github.com/fkie/ietf-restconf-testcases

This issue has been resolved in the "compliance" branch which will soon merge into master